<% include partials/header %>

<div class="container">

<div class="row">
  <div class="col-12">

    <!-- Nav pills -->
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link active text-dark" data-toggle="pill" href="#fanTheories">Fan Theories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-dark" data-toggle="pill" href="#fanFictions">Fan Fictions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-dark" data-toggle="pill" href="#qna">Q-N-A</a>
      </li>
    </ul>

<br>


  </div>
</div>

<div class="row">
  <div class="col-12">

    <!-- Tab panes -->
    <div class="tab-content">

      <div class="tab-pane active container" id="fanTheories">

        <!---->


        <!---->

        <button class="btn btn-primary" id="filter">Filter by category</button>
        <br>
        <div id="filterOptions">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="Game of thrones">Game of thrones
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="Harry Potter">Harry Potter
          </label>
        </div>
        <div class="form-check disabled">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="Marvel">Marvel
          </label>
        </div>
        <div class="form-check disabled">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="DC">DC
          </label>
        </div>
        <div class="form-check disabled">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="F.R.I.E.N.D.S.">F.R.I.E.N.D.S.
          </label>
        </div>
        <div class="form-check disabled">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="How I met your mother">How I met your mother
          </label>
        </div>
        <div class="form-check disabled">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="The Big Bang Theory">The Big Bang Theory
          </label>
        </div>
        <div class="form-check disabled">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="Lord of the rings" >Lord of the rings
          </label>
        </div>
        <div class="form-check disabled">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="Narnia" >Narnia
          </label>
        </div>
        <div class="form-check disabled">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="Star Wars" >Star Wars
          </label>
        </div>
        <div class="form-check disabled">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="Star Trek" >Star Trek
          </label>
        </div>
        <div class="form-check disabled">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="James Bond" >James Bond
          </label>
        </div>
        <div class="form-check disabled">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="Sherlock Holmes" >Sherlock Holmes
          </label>
        </div>
        <div class="form-check disabled">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="Other" >Other
          </label>
        </div>

        <button class="btn btn-primary">Filter</button>

      </div>



        <ul class="list-group">
          <% let flag = 1 %>
          <% fanTheories.forEach(function(fanTheory){ %>
            <% let link = "/fanTheories/details/" + fanTheory._id.toString() %>
            <li class="list-group-item"><!--<a href="<%=link%>">-->
              <h1><%= fanTheory.title %></h1>
              <h5>Category : <%=fanTheory.category%></h5>
              <hr>
                <% let x = 'half half' + flag %>
                <% let y = 'full full' + flag %>
                <% flag++ %>
                <div class="<%= x %>">
                  <p><%= fanTheory.body.slice(0, 5) + '...' %> </p>
                </div>
                <div class="<%= y %>">
                  <p><%= fanTheory.body %></p>
                  <p>Author - <%= fanTheory.author %></p>
                </div>
                <button class="btn btn-primary readMoreBtn" data-id="<%= flag %>">Read more</button>
            <!--</a>--></li>
          <% }) %>
        </ul>
        <br>
        <ul class="pagination">
          <% let cls, link; %>
          <% if(page == 1){ %>
            <% cls = "page-item disabled"; %>
            <% link = "#"; %>
          <% } else { %>
            <% cls = "page-item"; %>
            <% link = "/fanTheories/page/" + (Number(page) - 1); %>
          <% } %>
          <li class="<%=cls%>"><a class="page-link" href="<%=link%>">Previous</a></li>

          <% for(let i = 1; i <= totalPages; i++){ %>
            <% console.log("i" + i); %>
            <% console.log("page" + page); %>
            <% if(i == page){ %>
              <% console.log("hi"); %>
              <%cls = "page-item active";%>
              <% console.log("hii"); %>
            <% } else { %>
              <% console.log("not equal"); %>
              <%cls = "page-item";%>
            <% } %>
            <% link = "/fanTheories/page/" + i; %>
            <li class="<%=cls%>"><a class="page-link" href="<%=link%>"><%=i%></a></li>
          <% } %>

          <% if(page == totalPages){ %>
            <% cls = "page-item disabled"; %>
            <% link = "#"; %>
          <% } else { %>
            <% cls = "page-item"; %>
            <% link = "/fanTheories/page/" + (Number(page) + 1); %>
          <% } %>

          <li class="<%=cls%>"><a class="page-link" href="<%=link%>">Next</a></li>


        </ul>

      </div>

      <div class="tab-pane container" id="fanFictions">Fan Fictions</div>
      <div class="tab-pane container" id="qna">QNA</div>

    </div>

  </div>

</div>

</div>
</div>

<% include partials/footer %>
